/**
 * Brand Colors
 * Do not use "--brand-colors" in your code
 * Instead use the "--color-" variables to ensure
 * theme compatible styles
 */

:root {
  /* Grey */
  --brand-colors-grey-grey100: #dadce5;
  --brand-colors-grey-grey200: #b7bbc8;
  --brand-colors-grey-grey300: #9ca1af;
  --brand-colors-grey-grey400: #858b9a;
  --brand-colors-grey-grey500: #686e7d;
  --brand-colors-grey-grey600: #4b505c;
  --brand-colors-grey-grey700: #31333a;
  --brand-colors-grey-grey800: #222325;
  --brand-colors-grey-grey900: #121314;
  --brand-colors-grey-grey1000: #000000;
  --brand-colors-grey-grey050: #f3f5f9;
  --brand-colors-grey-grey000: #ffffff;
  --brand-colors-grey-grey025: #f7f9fc;
  /* Blue */
  --brand-colors-blue-blue100: #d6dbff;
  --brand-colors-blue-blue200: #adb6fe;
  --brand-colors-blue-blue300: #8b99ff;
  --brand-colors-blue-blue400: #6f7eff;
  --brand-colors-blue-blue500: #4459ff;
  --brand-colors-blue-blue600: #2c3dc5;
  --brand-colors-blue-blue700: #1c277f;
  --brand-colors-blue-blue800: #131b59;
  --brand-colors-blue-blue900: #0b0f32;
  --brand-colors-blue-blue050: #f4f5ff;
  --brand-colors-blue-blue025: #f8f9ff;
  /* Green */
  --brand-colors-green-green100: #c1e6c9;
  --brand-colors-green-green200: #80cb91;
  --brand-colors-green-green300: #4cb564;
  --brand-colors-green-green400: #279f41;
  --brand-colors-green-green500: #1c7e33;
  --brand-colors-green-green600: #145d25;
  --brand-colors-green-green700: #0d3b18;
  --brand-colors-green-green800: #092912;
  --brand-colors-green-green900: #051709;
  --brand-colors-green-green050: #ebf7ee;
  --brand-colors-green-green025: #f1faf4;
  /* Red */
  --brand-colors-red-red100: #ffd2d5;
  --brand-colors-red-red200: #ffa1aa;
  --brand-colors-red-red300: #ff7584;
  --brand-colors-red-red400: #f74d5e;
  --brand-colors-red-red500: #ca3542;
  --brand-colors-red-red600: #952731;
  --brand-colors-red-red700: #611a20;
  --brand-colors-red-red800: #431216;
  --brand-colors-red-red900: #3b0f13;
  --brand-colors-red-red050: #fff2f3;
  --brand-colors-red-red025: #fff6f7;
  /* Yellow */
  --brand-colors-yellow-yellow100: #ffd957;
  --brand-colors-yellow-yellow200: #f0b034;
  --brand-colors-yellow-yellow300: #e18f01;
  --brand-colors-yellow-yellow400: #c37b02;
  --brand-colors-yellow-yellow500: #9a6300;
  --brand-colors-yellow-yellow600: #714802;
  --brand-colors-yellow-yellow700: #482d01;
  --brand-colors-yellow-yellow800: #321f00;
  --brand-colors-yellow-yellow900: #1c1100;
  --brand-colors-yellow-yellow050: #fff5d5;
  --brand-colors-yellow-yellow025: #fff9e6;
  /* Orange */
  --brand-colors-orange-orange100: #ffd4c1;
  --brand-colors-orange-orange200: #ffa680;
  --brand-colors-orange-orange300: #ff7940;
  --brand-colors-orange-orange400: #ff5c16;
  --brand-colors-orange-orange500: #c3420d;
  --brand-colors-orange-orange600: #932d06;
  --brand-colors-orange-orange700: #661800;
  --brand-colors-orange-orange800: #451100;
  --brand-colors-orange-orange900: #280a00;
  --brand-colors-orange-orange050: #fff0ea;
  --brand-colors-orange-orange025: #fff8f5;
  /* Purple */
  --brand-colors-purple-purple100: #eac2ff;
  --brand-colors-purple-purple200: #dfa4ff;
  --brand-colors-purple-purple300: #d075ff;
  --brand-colors-purple-purple400: #b864f5;
  --brand-colors-purple-purple500: #8f44e4;
  --brand-colors-purple-purple600: #6c2ab2;
  --brand-colors-purple-purple700: #6c2ab2;
  --brand-colors-purple-purple800: #3d065f;
  --brand-colors-purple-purple900: #280a00;
  --brand-colors-purple-purple050: #fbf2ff;
  --brand-colors-purple-purple025: #fcf6ff;
  /* Lime */
  --brand-colors-lime-lime100: #baf24a;
  --brand-colors-lime-lime200: #95ca45;
  --brand-colors-lime-lime300: #7ab040;
  --brand-colors-lime-lime400: #64993d;
  --brand-colors-lime-lime500: #457a39;
  --brand-colors-lime-lime600: #275b35;
  --brand-colors-lime-lime700: #013330;
  --brand-colors-lime-lime800: #012826;
  --brand-colors-lime-lime900: #011515;
  --brand-colors-lime-lime025: #effed9;
  --brand-colors-lime-lime050: #e5ffc3;
  /* Indigo */
  --brand-colors-indigo-indigo025: #f3faff;
  --brand-colors-indigo-indigo050: #ebf5ff;
  --brand-colors-indigo-indigo100: #cce7ff;
  --brand-colors-indigo-indigo200: #89b0ff;
  --brand-colors-indigo-indigo300: #7e9ff0;
  --brand-colors-indigo-indigo400: #6f87db;
  --brand-colors-indigo-indigo500: #5b66bf;
  --brand-colors-indigo-indigo600: #4544a1;
  --brand-colors-indigo-indigo700: #2e2082;
  --brand-colors-indigo-indigo800: #190066;
  --brand-colors-indigo-indigo900: #13004a;
  /* White */
  --brand-colors-white: #ffffff;
  /* Black */
  --brand-colors-black: #000000;
}
