/*
 * Light Theme Colors
 */
:root,
[data-theme='light'],
.light {
  /* For default neutral surface (#ffffff) */
  --color-background-default: var(--brand-colors-grey-grey000);
  /* For sunken neutral surface below background/default (#f3f5f9) */
  --color-background-alternative: var(--brand-colors-grey-grey050);
  /* For raised neutral surface above background/default (#f3f5f9) */
  --color-background-muted: var(--brand-colors-grey-grey050);
  /* Hover state surface for background/default (#f6f6f7) */
  --color-background-default-hover: #f6f6f7;
  /* Pressed state surface for background/default (#ebecef) */
  --color-background-default-pressed: #ebecef;
  /* Hover state surface for background/alternative (#f6f6f7) */
  --color-background-alternative-hover: #f6f6f7;
  /* Pressed state surface for background/alternative (#ebecef) */
  --color-background-alternative-pressed: #ebecef;
  /* Hover state surface for background/muted (#f6f6f7) */
  --color-background-muted-hover: #f6f6f7;
  /* Pressed state surface for background/muted (#ebecef) */
  --color-background-muted-pressed: #ebecef;
  /* General purpose hover state tint (#858b9a14) */
  --color-background-hover: #858b9a14;
  /* General purpose pressed state tint (#858b9a29) */
  --color-background-pressed: #858b9a29;
  /* Default color for text (#121314) */
  --color-text-default: var(--brand-colors-grey-grey900);
  /* Softer color for text (#686e7d) */
  --color-text-alternative: var(--brand-colors-grey-grey500);
  /* Muted color for text (Not accessible) (#9ca1af) */
  --color-text-muted: var(--brand-colors-grey-grey300);
  /* Default color for icons (#121314) */
  --color-icon-default: var(--brand-colors-grey-grey900);
  /* Softer color for icons (#686e7d) */
  --color-icon-alternative: var(--brand-colors-grey-grey500);
  /* Muted color for icons (Not accessible) (#9ca1af) */
  --color-icon-muted: var(--brand-colors-grey-grey300);
  /* Default color for borders (#b7bbc8) */
  --color-border-default: var(--brand-colors-grey-grey200);
  /* Muted color for borders (b7bbc8-40%) */
  --color-border-muted: #b7bbc866;
  /* Default color for overlays (scrim) (black-40%) */
  --color-overlay-default: #00000066;
  /* Dimmer color for overlays (scrim) (black-80%) */
  --color-overlay-alternative: #000000cc;
  /* For elements placed on top of overlay/alternative (#ffffff) */
  --color-overlay-inverse: var(--brand-colors-grey-grey000);
  /* For primary semantic elements: interactive, active, selected (#0376c9) */
  --color-primary-default: var(--brand-colors-blue-blue500);
  /* Stronger color for primary semantic elements (#0260a4) */
  --color-primary-alternative: var(--brand-colors-blue-blue600);
  /* Muted color for primary semantic backgrounds (#0376c91a) */
  --color-primary-muted: #0376c91a;
  /* For elements placed on top of primary/default (#ffffff) */
  --color-primary-inverse: var(--brand-colors-grey-grey000);
  /* Hover state surface for primary/default (#036ab5) */
  --color-primary-default-hover: #036ab5;
  /* Pressed state surface for primary/default (#02538d) */
  --color-primary-default-pressed: #02538d;
  /* Hover state surface for primary/muted (#0376c926) */
  --color-primary-muted-hover: #0376c926;
  /* Pressed state surface for primary/muted (#0376c933) */
  --color-primary-muted-pressed: #0376c933;
  /* For danger semantic elements: error, critical, destructive (#ca3542) */
  --color-error-default: var(--brand-colors-red-red500);
  /* Stronger color for error semantic (#952731) */
  --color-error-alternative: var(--brand-colors-red-red600);
  /* Muted color for error semantic (#ca35421a) */
  --color-error-muted: #ca35421a;
  /* For elements placed on top of error/default (#ffffff) */
  --color-error-inverse: var(--brand-colors-grey-grey000);
  /* Hover state surface for error/default (#ba313d) */
  --color-error-default-hover: #ba313d;
  /* Pressed state surface for error/default (#9a2832) */
  --color-error-default-pressed: #9a2832;
  /* Hover state surface for error/muted (#ca354226) */
  --color-error-muted-hover: #ca354226;
  /* Pressed state surface for error/muted (#ca354233) */
  --color-error-muted-pressed: #ca354233;
  /* For warning semantic elements: caution, attention, precaution (#9a6300) */
  --color-warning-default: var(--brand-colors-yellow-yellow500);
  /* Muted color option for warning semantic (#9a63001a) */
  --color-warning-muted: #9a63001a;
  /* For elements placed on top of warning/default (#ffffff) */
  --color-warning-inverse: var(--brand-colors-grey-grey000);
  /* Hover state surface for warning/default (#855500) */
  --color-warning-default-hover: #855500;
  /* Pressed state surface for warning/default (#5c3b00) */
  --color-warning-default-pressed: #5c3b00;
  /* Hover state surface for warning/muted (#9a630026) */
  --color-warning-muted-hover: #9a630026;
  /* Pressed state surface for warning/muted (#9a630033) */
  --color-warning-muted-pressed: #9a630033;
  /* For positive semantic elements: success, confirm, complete, safe (#1c7e33) */
  --color-success-default: var(--brand-colors-green-green500);
  /* Muted color for positive semantic (#1c7e331a) */
  --color-success-muted: #1c7e331a;
  /* For elements placed on top of success/default (#ffffff) */
  --color-success-inverse: var(--brand-colors-grey-grey000);
  /* Hover state surface for success/default (#186c2c) */
  --color-success-default-hover: #186c2c;
  /* Pressed state surface for success/default (#114b1e) */
  --color-success-default-pressed: #114b1e;
  /* Hover state surface for success/muted (#1c7e3326) */
  --color-success-muted-hover: #1c7e3326;
  /* Pressed state surface for success/muted (#1c7e3333) */
  --color-success-muted-pressed: #1c7e3333;
  /* For informational read-only elements: info, reminder, hint (#0376c9) */
  --color-info-default: var(--brand-colors-blue-blue500);
  /* Muted color for informational semantic (#0376c91a) */
  --color-info-muted: #0376c91a;
  /* For elements placed on top of info/default (#ffffff) */
  --color-info-inverse: var(--brand-colors-grey-grey000);
  /* For Flask primary accent color (#8f44e4) */
  --color-flask-default: var(--brand-colors-purple-purple500);
  /* For elements placed on top of flask/default (#ffffff) */
  --color-flask-inverse: var(--brand-colors-grey-grey000);
  /* For neutral drop shadow color (black-10% | black-40%) */
  --color-shadow-default: #0000001a;
  /* For primary drop shadow color (blue500-20% | blue300-20%) */
  --color-shadow-primary: #0376c933;
  /* For critical/danger drop shadow color (red50-20% | red300-20%) */
  --color-shadow-error: #ca354266;
}
