@tailwind base;
@tailwind components;
@tailwind utilities;

/* Centra No 1 */
@font-face {
  font-family: 'CentraNo1';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/CentraNo1/CentraNo1-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'CentraNo1';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/CentraNo1/CentraNo1-BookItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'CentraNo1';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/CentraNo1/CentraNo1-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'CentraNo1';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/CentraNo1/CentraNo1-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'CentraNo1';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/CentraNo1/CentraNo1-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'CentraNo1';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/CentraNo1/CentraNo1-BoldItalic.woff2') format('woff2');
}

/* MM Sans */
@font-face {
  font-family: 'MMSans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MMSans/MMSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MMSans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/MMSans/MMSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'MMSans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/MMSans/MMSans-Bold.woff2') format('woff2');
}

/* MM Poly */
@font-face {
  font-family: 'MMPoly';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MMPoly/MMPoly-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MMPoly';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/MMPoly/MMPoly-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MMPoly';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/MMPoly/MMPoly-Regular.woff2') format('woff2');
}
